@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Cookie&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Megrim&family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Cookie&family=Genos:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Megrim&family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Cookie&family=Genos:ital,wght@0,100..900;1,100..900&family=Iceland&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Megrim&family=Nuosu+SIL&display=swap');

/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */
body{
  color: white;
}

/* Get your own import URL from Google Fonts */

  /* Main font */
  font-family: Poppins, sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Dancing Script", cursive;
}

/* Background */ /*used W3Schools for help*/
#css-zen-garden {
    background-image: url("/picsss/rocketspace.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: transparent;
    background-attachment: fixed;
    -moz-background-size: auto 100%, auto 100%;
    -o-background-size: auto 100%, auto 100%;

} 

h1 ,h2, h3, h4, h5, h6{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Megrim;
    color:rgb(99, 3, 48);
}

.summary{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}

.summary p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  

}

.preamble p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preamble{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}

.explanation{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}
.explanation p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.participation p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.participation{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}

.requirements{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}

.requirements p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design-selection p{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design-selection{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
    
}

.design-archives p,
.zen-resources p {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.design-archives{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
   
}

#zen-resources{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Genos;
}

body a {
   color: 		rgb(238, 219, 244);
  background-color: rgba(62, 62, 62, 0.64);
}



.page-wrapper{
   background-color: rgba(196, 196, 196, 0.29);;
}

.summary, .preamble, .explanation, .participation{
  line-height: 2px;
  text-align:start;
}
/* Page wrapper */
  